body{
    margin: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ddd;
}

header nav span{
    padding: 0 5px;
    cursor: pointer;
}

section{
    display: flex;
    flex-wrap: wrap;
}

section div{
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
}

section div img{
    width: 100%;
}

nav span.ativa{
    color: blue;
}